body {
  margin: 0;
  margin-top: 10px;
  font-family: 'Montserrat', sans-serif;  font-size: 20px;
  background-color: rgba(112, 207, 74, 0.9);
}

a {
  color: #333;
  font-size: 14px;
  text-decoration: none;
}

h1 {
  /* font-style: italic; */
  margin-bottom: 10px;
}

.navigation {
  width: 100%;
  height: 40px;
  background-color: #eee;
}

.navigation ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.navigation li {
  float: left;
}

.navigation .logout {
  float: right;
}

.navigation li a , .logout {
  width: 100px;
  height: 20px;
  line-height: 20px;
  padding: 10px;
  display: block;
  text-align: center;
}

.navigation li a:hover {
  background-color: #ddd;
}

.navigation li a.selected {
  background-color: #ccc;
}

#container {
  clear: both;
  margin-top: 10px;
}

.link {
  clear: both;
  margin-bottom: 5px;
  padding: 5px;
  min-height: 50px;
}

.link:hover {
  background-color: #efe;
}

.link img {
  float: left;
  margin: 0 5px;
}

.link .visits {
  float: right;
  margin-right: 10px;
  margin-left: 20px;
}

.link .visits .count {
  font-size: 46px;
  font-weight: 600;
}

.link .title {
  font-weight: 600;
}

.link .original {
  color: #aaa;
  font-size: 12px;
}

.link .info {
  margin-left: 55px;
}

form {
  margin: 10px;
}

form input[type=text], form input[type=password] {
  width: 100%;
  display: block;
  font-size: 13px;
  padding: 5px;
  margin-bottom: 5px;
}

.error {
  background-color: #fee;
  color: #a33;
  padding: 10px;
  margin: 0 10px;
}

.creator {
  height: 50px;
}

.creator form {
  float: left;
  height: 80px;
}

.creator img.spinner {
  height: 46px;
  margin-bottom: 5px;
  padding: 10px;
  display: none;
}

.creator .message {
  clear: both;
}

.banner-title {
  width: auto;
  display: inline-block;
  margin: 40px auto;
  font-style: none;
  font-family: 'Lobster', cursive;
  font-size: 135px;
  color: white;
  text-align: center;
}


.banner-slogan {
  width: 200px;
  display: inline-block;
  margin: 0 auto;
  font-style: none;
  font-size: 22px;
  font-weight: 100;
  color: rgba(199, 0, 57, 0.9);
  text-align: left;
}

.banner-container {
  width: 800px;
  display: block;
  margin: 0 auto;
  clear: both;
  align-content: center;
  text-align: center;
}

.login-container {
  padding: 50px;
  width: 45%;
  display: block;
  margin: 0 auto;
  
}

.login {
  color: rgba(199, 0, 57, 0.9);;
  font-family: 'Lobster', cursive;
  font-size: 50px;
}

#create-account {
  color: rgb(199, 0, 57, 0.9);;
  font-size: 15px;
}

input[type=text] {
  border: 3px solid rgb(199, 0, 57, 0.9);
  border-radius: 4px;
}

input[type=password] {
  border: 3px solid rgb(199, 0, 57, 0.9);
  border-radius: 4px;
}

.username-container {
  margin: 50px 0;
}
